<!DOCTYPE html>
<!-- Set the default direction to be the direction of $locale.
     Also enable attribute escaping for content in children -->
<html ng-app="todoApp" ng-controller="AppCtrl" ng-dir="locale">

<head>
  <meta charset="utf-8">
  <title>Todo List for {{userName | bidi}}</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="todo.css">
  <script src="libs/angular.js"></script>
  <script src="libs/angular-resource.js"></script>
  <script src="todo.js"></script>
</head>

<body class="well">

<h1><span avatar user-name="userName"></span> Todo List for <span ng-dir="auto">{{userName}}</span></h1>

<p>
  Remaining <strong>{{remaining()}}</strong> of <strong>{{items.length}}</strong>.
  [ <a href ng-click="archive()">archive</a> ]
</p>

<ul class="unstyled">
  <li ng-repeat="item in items">
    <input type="checkbox" ng-model="item.done">
    <span ng-dir="auto">{{item.text}}</span>
    <avatar user-name="item.minion"></avatar>
  </li>
</ul>

<form name="newItemForm">
  <input name="newItemText"
         ng-model="newItem.text"
         required
         ng-maxlength="15"
         ng-dir="auto">
  <div ng-show="newItemForm.newItemText.$error.maxlength">Text too long!</div>
  <select ng-model="newItem.minion" required>
    <option ng-repeat="user in users" ng-dir="auto">{{user.name}}</option>
  </select>
  <button class="btn btn-primary"
          ng-click="add(newItem)"
          ng-disabled="newItemForm.$invalid">
    add
  </button>
</form>

</body>
</html>
